$color-black: #151515;
$color-primary: #854dff;
$color-error: #ff5959;
$color-grey: #716f6f;
$color-grey-light: #f0f0f0;

$font-size-lg: 1.04rem;
$font-size-md: 3.2rem;
$font-size-sm: 1.4rem;

$font-weight-xbold: 800;
$font-weight-bold: 700;
$font-weight-reg: 400;

$line-height-heading: 110%;

$letter-spacing-xs: -2%;
$letter-spacing-sm: 1%;
$letter-spacing-lg: 25%;
