@import '@styles/variables.scss';

.calc {
  margin: 0 auto;
  width: 84rem;
  padding: 5.6rem;
  border-radius: 24px 24px 200px 24px;
  background-color: $color-white;
}

.form {
  display: flex;
  gap: 3.2rem;
  padding-bottom: 4.75rem;
  border-bottom: 1px solid $color-grey;
  position: relative;
}

.formLabel {
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-sm;
  text-transform: uppercase;
  color: $color-grey;
}

.formInput {
  padding: 1.2rem 2.4rem;
  font-family: inherit;
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  width: 16rem;
  border-radius: 8px;
  border: 1.5px solid $color-grey-light;

  &Box {
    display: flex;
    gap: 8px;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: 1.5px solid $color-primary;
  }
}

.formInputErr {
  border: 1.5px solid $color-error;
}

.errMsg {
  color: $color-error;
}

.hidden {
  display: none;
  visibility: hidden;
}

.formInputBox {
  display: flex;
  flex-direction: column;
}

.formSubmitIconBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 9.6rem;
  background-color: $color-primary;
  border-radius: 100%;
  position: absolute;
  bottom: -4.8rem;
  right: 0;

  &:hover,
  &:active {
    background-color: $color-black;
  }
}
// new component
.numYears,
.numMonths,
.numDays {
  color: $color-primary;
}
.heading {
  font-size: $font-size-lg;
  font-weight: $font-weight-xbold;
  font-style: italic;
  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-xs;
}

@media only screen and (max-width: 900px) {
  .calc {
    width: 95vw;
  }
}

@media only screen and (max-width: 900px) {
  .calc {
    min-height: 50vh;
  }
}
